
**Introduction to Python Programming**

In [1]:
# variable assignment

number = 100
number1 = 100.20
str = "Hello World"

num ="1234"

num1,num2,num3 = 10,20,30

In [2]:
print(number)

100

In [3]:
type(number)

int

In [ ]:
print(type(number))
print(type(number1))
print(type(str))

# number IS CLASS BEACAUSE

<class 'int'>
<class 'float'>
<class 'str'>

In [5]:
num1, num2,num3,_ =100,200,300,400

In [6]:
nu1, nu2,nu3=100,200,_

In [7]:
n1, n2,n3,& =100,200,300,400

SyntaxError: invalid syntax (2367121185.py, line 1)

In [8]:
print('the variable name no. is ',number)

the variable name no. is  100

In [9]:
number1 = 1000
number2 = 2000
number3 = number1 +number2

print('the addition of number1 and number2 is',number3)

the addition of number1 and number2 is 3000

In [10]:
number1 = 1000
number2 = 2000
number3 = number1 -number2

print('the subtraction of number1 and number2 is',number3)

the subtraction of number1 and number2 is -1000

In [11]:
number1 = 1000
number2 = 2000
number3 = number1 *number2

print('the multiplication of number1 and number2 is',number3)

the multiplication of number1 and number2 is 2000000

In [12]:
number1 = 1000
number2 = 2000
number3 = number2 /number1

print('the division  of number1 and number2 is',number3)

the division  of number1 and number2 is 2.0

In [13]:
#  Floor Division 

number1 = 1000
number2 = 2000
number3 = number2 //number1

print('the division  of number1 and number2 is',number3)

the division  of number1 and number2 is 2

In [5]:
num =2
num1='1234'
print('addition of num and num1 :',(num * num1))

addition of num and num1 : 12341234

In [4]:
num =2
num1='1234'
print('addition of num and num1 :',(num + num1))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
name = input('Enter your name  :')

print(name)

varun

In [7]:
number = input('enter the number :')

print(number)

3

In [8]:
num = print(input('enter the number'))

5

In [13]:
print(type(number))
# if i am using input as a function then they give type as a string

<class 'str'>

In [ ]:
# TYPE CAST

num = int(input('enter the number : '))  #Type Casting string to integer.

In [11]:
print(type(num))

<class 'int'>

In [ ]:
# ADDITION OF TWO NUMBERS 
num1 = float(input('enter your first no.')) # int is type casting then float is not allowed but float is in typecasting then int will accept
num2 = float(input('enter your second no.'))
num3 = num1 + num2
print('sum of two numbers',num3)

#eval is allowed all functions

sum of two numbers 120.0

In [ ]:
# DATA STRUCTURE
#LIST 
#is mutable(change) & include all datatypes & it allowed list in other list
lst = [] 

#TUPLE 
# is immutable (not change) & optimize space 
tup = ()